.main__product {

    grid-area: content-0;

}

.main__product--section {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0;

}

@media screen and (min-width: 550px) {
    
    .main__product {

        padding-bottom: 0;

    }

}