.header {

    grid-area: header;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(73, 1, 1);
    box-shadow: 0 0 15px 7px rgb(59, 1, 1);
    font-size: 1.6rem;
    bottom: 0;
    z-index: 20;

}

.header__nav {

    width: 100%;
    margin: .9rem 0 0;

}

.nav__ul {

    display: flex;
    justify-content: space-around;
    font-family: var(--tipo-secundaria);

}

.ul__list--resp {

    cursor: pointer;

}

.list__a {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.list__a--icon {

    position: relative;
    display: block;
    line-height: 65px;
    transition: .5s;
    color: #fff;
    z-index: 3;

}

.list.active .list__a .list__a--icon {
   
    transform: translateY(-40px);
    color: #aa0000;
    -webkit-text-stroke: .08rem rgb(141, 141, 141);

}

.list__a--text {

    position: absolute;
    background-color: #ff0000;
    color: #fff;
    padding: 2px 7px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
    font-size: .8rem;
    font-family: var(--tipo-secundaria);
    letter-spacing: .05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(15px);
    z-index: 3;

}

.list__a--unit {

    position: absolute;
    font-size: 1rem;
    transform: translateY(25px);
    z-index: 4;

}

.list.active .list__a .list__a--text {

    transform: translateY(-4px);
    opacity: 1;

}

.indicator {

    background-color: rgb(73, 1, 1);
    box-shadow: 0 0 10px rgb(59, 1, 1);
    position: absolute;
    top: -35px;
    left: 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: .5s;
    z-index: 1;

}

.none {

    display: none;

}

.indicator::before {

    content: '';
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px rgb(73, 1, 1);

}

.indicator::after {

    content: '';
    position: absolute;
    top: 5px;
    left: 67px;
    width: 30px;
    height: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px rgb(73, 1, 1);

}

.list:nth-child(1).active ~ .indicator {

    transform: translateX(-40px);

}

.list:nth-child(2).active ~ .indicator {

    transform: translateX(47px);

}

.list:nth-child(3).active ~ .indicator {

    transform: translateX(131px);

}

.list:nth-child(4).active ~ .indicator {

    transform: translateX(213px);

}

.nav__ul--desktop {

    display: none;
    justify-content: center;

}

.list--desk {

    position: relative;
    display: inline-flex;
    overflow: hidden;
    margin: .2rem;
    padding: 1rem 1rem;

}

.list__span--desk {

    position: relative;
    z-index: 1;

}

.ul__list--desk::before {

    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: #aa0000;
    border-radius: 50%;
    transition: width .5s, height .5s;

}

.ul__list--desk:hover::before {

    width: 7rem;
    height: 7rem;

}

.ul__ul--desk {

    display: none;

}

.header__logo {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--tipo-title);
    margin: 1.5rem 0 .5rem;
    cursor: pointer;

}

.header__cart:hover,
.i--logo:hover,
.controls__button:hover,
.info__buttons--item:hover,
.info__buttons--items:hover,
.buttons__shop:hover,
.buttons__clear:hover {

    color: #aa0000;
    transition: all 300ms ease;
    -webkit-text-stroke: .08rem rgb(141, 141, 141);

}

@media screen and (max-width: 336px) {

    .indicator {

        display: none;

    }

}

@media screen and (min-width: 350px) {
    
    .list:nth-child(2).active ~ .indicator {

        transform: translateX(55px);

    }

    .list:nth-child(3).active ~ .indicator {

        transform: translateX(145px);

    }

    .list:nth-child(4).active ~ .indicator {

        transform: translateX(230px);

    }

}

@media screen and (min-width: 370px) {
    
    .list:nth-child(2).active ~ .indicator {

        transform: translateX(65px);

    }

    .list:nth-child(4).active ~ .indicator {

        transform: translateX(250px);

    }

}

@media screen and (min-width: 400px) {
    
    .list:nth-child(1).active ~ .indicator {

        transform: translateX(-28px);

    }

    .list:nth-child(2).active ~ .indicator {

        transform: translateX(74px);

    }

    .list:nth-child(3).active ~ .indicator {

        transform: translateX(170px);

    }

    .list:nth-child(4).active ~ .indicator {

        transform: translateX(270px);

    }

}

@media screen and (min-width: 420px) {
    
    .list:nth-child(4).active ~ .indicator {

        transform: translateX(290px);

    }

}

@media screen and (min-width: 440px) {
    
    .list:nth-child(2).active ~ .indicator {

        transform: translateX(90px);

    }

    .list:nth-child(3).active ~ .indicator {

        transform: translateX(210px);

    }

    .list:nth-child(4).active ~ .indicator {

        transform: translateX(315px);

    }

}

@media screen and (min-width: 480px) {
    
    .list__a--text {

        font-size: 1.1rem;

    }

    .list:nth-child(2).active ~ .indicator {

        transform: translateX(105px);

    }

    .list:nth-child(3).active ~ .indicator {

        transform: translateX(220px);

    }

    .list:nth-child(4).active ~ .indicator {

        transform: translateX(345px);

    }

}

@media screen and (min-width: 517px) {

    .list:nth-child(1).active ~ .indicator {

        transform: translateX(-15px);

    }

    .list:nth-child(2).active ~ .indicator {

        transform: translateX(120px);

    }
    
    .list:nth-child(3).active ~ .indicator {

        transform: translateX(250px);

    }

    .list:nth-child(4).active ~ .indicator {

        transform: translateX(370px);

    }

}

@media screen and (min-width: 527px) {
    
    .list:nth-child(1).active ~ .indicator {

        transform: translateX(-8px);

    }

    .list:nth-child(2).active ~ .indicator {

        transform: translateX(130px);

    }

    .list:nth-child(3).active ~ .indicator {

        transform: translateX(260px);

    }

    .list:nth-child(4).active ~ .indicator {

        transform: translateX(380px);

    }

}

@media screen and (min-width: 550px) {

    .header {

        position: relative;
        flex-direction: row-reverse;
        justify-content: space-around;

    }

    .header__nav {

        margin: 0;

    }

    .nav__ul--resp {

        display: none;

    }

    .nav__ul--desktop {

        display: flex;

    }

    .ul__list--desk {

        font-size: 1.1rem;
        cursor: pointer;

    }

    .list--desk--select:hover ~ .ul__ul--desk,
    .ul__ul--desk:hover { 

        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 3.9rem;
        left: 50%;
        background-color: rgb(73, 1, 1);
        border: 2px solid rgb(141, 141, 141);
        border-radius: 3px;
        font-size: 1.3rem;
        line-height: 2.5rem;
        transition: .5s;
        margin-left: -113px;
        padding: 1rem;
        overflow: hidden;
        z-index: 2;

    }

    .ul__ul--li--desk:hover {

        width: 145%;
        left: 0;
        right: 0;
        background: #aa0000;
        text-align: center;
        transition: all 300ms ease;
        cursor: pointer;

    }

    .header__logo {

        margin: .5rem 1rem .5rem;

    }

}

@media screen and (min-width: 670px) {
    
    .ul__list--desk {

        font-size: 1.35rem;

    }

}

@media screen and (min-width: 1500px) {
    
    .header {

        font-size: 2.5rem;

    }

    .ul__list--desk{

        font-size: 2.5rem;

    }

    .list--desk--select:hover ~ .ul__ul--desk,
    .ul__ul--desk:hover {

        font-size: 2.5rem;
        line-height: 4rem;

    }

}